body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

p {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

.page-header {
  background: #f1f5f7;
  padding-bottom: 63px;
}

.header_top_flex {
  display: flex;
  justify-content: space-between;
}

.header_top {
  background-color: #293449;
}

.logo_header {
  font-size: 24.2px;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 11px 55px 0px 55px;
  color: #ffffff;
}

.logo_header:hover {
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo_header:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.form_search {
  width: 270px;
  position: relative;
}

.button_search {
  border: medium none;
  background-color: transparent;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
}

.search_text {
  right: 0;
  font-size: 17px;
  color: #000000;
  background: none;
  border: none;
  outline: none;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-left: 47px;
}

.form_search:hover {
  background-color: #212a3a;
}

.form_search:hover .button_search {
  opacity: 1;
}

.search_text:focus {
  background: #ffffff;
}

.icon-search {
  position: absolute;
  top: 16px;
  left: 16px;
}

.button_search:hover {
  opacity: 1;
}

.order_buttons li {
  height: 100%
}

.order_buttons a {
  text-decoration: none;
    font-size: 16.7px;
    line-height: 18px;
    color: #ffffff;
}

.order_buttons {
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.header_link {
  padding: 10px 0px 0px 0px;
  padding-bottom: 8px;
  padding-right: 29px;
}

.header_link:hover {
  background-color: #212a3a;
}

.header_link:focus {
  opacity: 0.3;
  background-color: #161d29
}

.header_link:hover .order_buttons_image {
  opacity: 1;
}

.header_link:focus .order_buttons_image {
  opacity: 0.3;
}

.order_buttons_image {
  opacity: 0.3;
  padding-left: 17px;
  padding-right: 14px;
}

.menu-top_order {
  text-align: center;
  background: #63a63e;
  padding: 10px 22px 0px 21px;
}


.menu-top_order:hover {
  background: #5fbb2d;
}

.menu-top_order:active {
  color: #b1c5a8;
  background: #518534;
}
.menu-top_basket {background-color: #ee3643}

.header_mid {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 49px;
  padding-bottom: 40px;
}

.header_mid_contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 270px;
}

.header_mid_contacts p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header_mid_text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  padding-left: 53px;
  max-width: 198px;
}

.contacts_phone {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #ffffff;
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 9px 31px 9px 3px;
}

.login_registration {
  list-style-type: none;
  list-style-type: none;
  display: flex;
  padding-bottom: 11px;
}

.login_registration-margin-right {
  margin-right: 10px;
}

.button {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding-top: 10px;
  padding-right: 24px;
}

.button_registration {
  padding-left: 25px;
}

.login_registration a:hover {
  color: #ee3643;
}

.login_registration a:active {
  color: #c5c5c5;
}

.login_image {
  opacity: 0.5;
  opacity: 0.5;
  padding-left: 14px;
  padding-right: 14px;
}

.login_registration a:hover .login_image {
  opacity: 1;
}

.login_registration a:active .login_image {
  opacity: 0.5;
}

.main-navigation {
  background: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  padding-left: 12px;
  padding-right: 18px;
}

.main-navigation li {
  /* display: inline-block; */
  font-size: 17px;
  line-height: 17px;
  list-style-type: none;
}

.main-navigation li:hover {
  background: #293449;
}

.main-navigation li:focus {
  background: #293449;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 19px 21px;
}


.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation a:active {
  color: #a1a4a8;
  background: #1d2739;
}

/* Пошел main  */

/*Промо блок  */

.promo_blocks {
  margin-top: 59px;
}

.promo-container {
  width: 940px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.promo-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  width: 260px;
  height: 85px;
  padding: 20px;
  position: relative;
}

.slider-1_name {
  font-size: 36px;
  line-height: 36px;
  margin: 0px;
  top: 20px;
  left: 21px;
  position: relative;
  text-transform: uppercase;
  color: white;
}

p.description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
  position: relative;
  left: 23px;
  top: 22px;
  color: white;
}

.promo-item_slider-button-back {
  border: none;
  left: 24px;
  top: 112px;
  position: absolute;
  background-image: url(../img/svg/icon-left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  height: 42px;
}

.red_button.drill {
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 48px 14px 50px;
  position: relative;
  bottom: -128px;
  left: 23px;
}

.promo-item_slider-button-next {
  background: none;
  border: none;
  right: 10px;
  top: 112px;
  position: absolute;
  background-image: url(../img/svg/icon-right.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  height: 42px;
}

.promo-info {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
      padding: 11px 26px;
  cursor: pointer;
  border-radius: 5px;
}

.promo-info {
  background: rgba(0, 0, 0, 0.1);
}

.promo-info:hover {
  background: rgba(0, 0, 0, 0.2);
}

.promo-info:active {
  background: rgba(0, 0, 0, 0.3);
}

.materials {
  background: #ffbf47;
}

.features-img {
  float: right;
  width: 85px;
  height: 85px;
}

.promo-name {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 18px;
}

.features-img_materials {
  background: url(../img/svg/icon-1.svg) no-repeat 20px;
}

.features-img_instruments {
  background: url(../img/svg/icon-2.svg) no-repeat 5px;
}

.features-img_machines {
  background: url(../img/svg/icon-3.svg) no-repeat 3px;
}

.features-img_discount {
  background: url(../img/svg/icon-4.svg) no-repeat 10px;
}

.features-img_delivery {
  background: url(../img/svg/icon-5.svg) no-repeat 3px;
}

.instruments {
  background-color: #3bbce3;
}

.machines {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047
}

.promo-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo-bottom {
  display: flex;
  justify-content: space-between;
}

.promo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-item_slider {
  position: relative;
}

.promo-item_slider1 {
  width: 620px;
  height: 262px;
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  display: none;
}

.promo-item_slider2 {
  display: none;
  width: 620px;
  height: 262px;
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
  display: none;
}

/* продукты */

.products_title {
  display: flex;
      background-color: #f9f5f0;
      justify-content: space-between;
      margin-top: 57px;
      margin-bottom: 20px;
      padding: 26px 24px 0px 1px;
}

.popular {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
      padding: 4px 0px 30px 28px;
}

.button_catalog {
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 56px 11px 57px;
}

.catalog {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.catalog_item {
  display: flex;
  border: 1px solid #e5e5e5;
  flex-direction: column;
  align-items: center;
  width: 218px;
  position: relative;
}

.catalog_item_new::after {
  content: url(../img/new_flag.png);
  position: absolute;
  right: 0px;
  top: 0px;
}

.actions {
  width: 184px;
  height: 169px;
  position: relative;
  top: 45px;
  left: 28px;
}

.actions_buy {
  width: 131px;
  height: 35px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  background-color: #63a63e;
  border: none;
  box-shadow: 0 5px 0 0 #367315;
  margin-bottom: 10px;
  border-radius: 3px;
}

.actions_buy_image {
  position: relative;
  right: 21px;
  top: 3px;
  opacity: 0.3;
}

.actions_bookmark {
  width: 128px;
  height: 32px;
  border: 3px solid #63a63e;
  background-color: white;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}

.catalog_item:hover .image {
  display: none;
}

.catalog_item:hover .actions {
  display: block;
}

.actions {
  display: none;
}

.catalog_item:hover {
  box-shadow: 0 8px 25px 5px #c0c0c0
}

.actions_buy:hover {
  background-color: #5fbb2d
}

.actions_buy:hover .actions_buy_image {
  opacity: 1
}

.actions_buy:active {
  background-color: #518534
}

.actions_buy:active .actions_buy_image {
  opacity: 1
}

.actions_bookmark:hover {
  border: 3px solid #32425c;
}

.actions_bookmark:active {
  opacity: 0.3
}

.title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 9px 29px 5px 31px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.price-old {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  margin-top: 9px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  background-image: url(../img/svg/red-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 38px;
  width: 141px;
  text-align: center;
  padding-top: 20px;
  color: white;
  text-decoration: none;
}

.price_constant {
  margin-top: 24px;
}

.section_title {
  display: flex;
  background-color: #f9f5f0;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 27px 24px 0px 0px;
}

.catalog_manufacturers {
  display: flex;
  list-style-type: none;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

li.manufacturers_item {
  border: 1px solid #ebebeb;
  width: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

li.manufacturers_item:hover {
  box-shadow: 0 8px 25px 5px #c0c0c0
}

li.manufacturers_item:active {
  opacity: 0.3
}

.services {
  background: #f0f4f6;
}

h2.block-services_name {
  font-size: 25px;
      line-height: 27px;
      text-transform: uppercase;
      font-weight: 100;
      font-family: 'PT Sans', sans-serif;
      margin: 0;
      margin-bottom: 31px;
      font-weight: bold;
}
.services_description {
    font-size: 13.9px;
    font-weight: bold;
}

.services_container_description {
  padding-top: 64px;
  padding-bottom: 65px;
}

.block-information p {
  margin: 0;
  margin-bottom: 70px;
}

.services_control {
  margin-right: 80px;
}

.services_button {
  display: flex;
}

.services_button label {
  display: block;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  width: 200px;
  background: #32425c;
  padding: 18px 17px 14px 23px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.services_button label:hover {
  background: #293449;
  border-color: #293449;
}

.services_button label:active {
  color: #32425c;
  background: #ffffff;
  border-color: #ffffff;
}

.description_block h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 100;
    color: #32425c;
    margin: 0;
    margin-bottom: 25px;
}

.description_block p {
  width: 284px;
      font-weight: bold;
      font-size: 13.7px;
}

.services_shipping {
  background: url('../img/delivery.png') no-repeat 150px 0;
}

.services_warranty {
  background: url('../img/guarantee.png') no-repeat 150px 0;
  background-size: contain;
}

.services_credit {
  background: url('../img/credit.png') no-repeat 150px 0;
}

.services_button input[type="radio"] {
  display: none;
}

.description_block {
  width: 620px;
}

#btn-1:checked~.description_block .inner-description_block:nth-child(1) {
  display: block
}

#btn-2:checked~.description_block .inner-description_block:nth-child(2) {
  display: block
}

#btn-3:checked~.description_block .inner-description_block:nth-child(3) {
  display: block
}

.inner-description_block {
  display: none;
  padding-bottom: 128px;
}

.services_warranty {
  padding-bottom: 70px;
}

.company_description_n_contacts.container {
  display: flex;
      padding-top: 80px;
}

.company_description {
  padding-right: 121px;
  margin-bottom: 92px;
}

.company_name {
  margin-bottom: 26px;
      font-size: 29px;
      line-height: 30px;
      margin-top: 0;
      font-weight: bold;
}

.about_company {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.about_shipping {
  padding-right: 89px;
      margin-bottom: 19px;
      font-size: 13.7px;
      line-height: 24px;
      font-weight: bold;
  }

.list_shipping_company li {
  position: relative;
  margin-bottom: 20px;
  ;
  padding-left: 35px;
}

.list_shipping_company li:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 25.2px;
      height: 3px;
  background: #fb565a;
}

.shipping_company {
  font-size: 16px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.button_about {
  background-color: #ee3643;
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      padding: 11.8px 40px 9px 41.4px;
}

.contacts_name {
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 0px;
}

p.contacts_text {
  padding-right: 122px;
  margin-bottom: 31px;
  font-size: 13.6px;
  line-height: 24px;
  font-weight: bold;
}

.list_shipping_company {
margin-bottom: 46px;
  list-style: none;
}

.contacts_map {
  margin-bottom: 33px;
}

.contacts_button_lost {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
    padding: 10px 62px 10px 64px;
  border: none;
}

.footer_top_background {
  background-color: #32425c;
padding-bottom: 47px;
}

.footer_top_main {
  display: flex;
  justify-content: space-between;
      margin-bottom: 33px;
}

a.logo_footer {
  font-size: 30.2px;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 18px 41px 0 41px;
  line-height: 28px;
  color: #ffff;
}

ul.footer_top_main_menu {
  display: flex;
  list-style: none;
    padding-top: 37px;
  width: 547px;
  justify-content: space-between;
}

a.footer_top_button {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

address.footer_adress {
  color: #f1f5f7;
  font-size: 18.5px;
  line-height: 24px;
  font-style: normal;
}

a.footer_contacts_phone {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
}

.footer_top_second {
  display: flex;
  justify-content: space-between;
}

a.footer_top_second_menu_button {
  color: #ffda96;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

ul.footer_top_second_menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 524px;
}

.footer_bottom_background {
  background-color: #293449;
}

.footer_work_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.copyright {
  max-width: 276px;
  color: #f3f7f9;
  font-size: 16.2px;
  line-height: 24px;
      margin-right: 41px;
}

.btn-social_vk {
  border: 1px white;
  background-color: #212a3a;
  padding: 13px 8px 13px 8px;
  border-radius: 36px;
}

.feedback {
  display: flex;
  list-style: none;
  padding: 2px 12px 0px 0px;
}

.feedback_mail {
  margin-right: 53px;
}

.feedback_name {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback_button {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

ul.footer_social_menu {
  display: flex;
  list-style: none;
}

.footer_social_menu_vk {
  border: 1px solid #212a3a;
  border-radius: 100px;
  background-color: #212a3a;
  height: 42px;
  width: 42px;
  margin-right: 5px;
}

.vk {
  position: relative;
  left: 9px;
  top: 12px;
}

.footer_social_menu_fb {
  width: 42px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #212a3a;
  border-radius: 100px;
  background-color: #212a3a;
}

.fb {
  position: relative;
  left: 15px;
  top: 10px;
}

.footer_social_menu_insta {
  height: 42px;
  width: 42px;
  border: 1px solid #212a3a;
  border-radius: 100px;
  background-color: #212a3a;
}

.insta {
  position: relative;
  left: 11px;
  top: 10px;
}

.red_button {
  border-radius: 3px
}

.red_button-popular_goods {
  border-radius: 3px;
  padding: 12px 55px 0px 55px;
  max-height: 26px;
}

.red_button-manufactures {
  border-radius: 3px;
  padding: 8px 68px 0px 69px;
  max-height: 28px;
}

.red_button:hover {
  background-color: #ca2c37
}
.red_button-manufactures:active {
  background-color: #ba2732
}
.red_button-popular_goods:hover {
  background-color: #ca2c37
}


.red_button-popular_goods:active {
  background-color: #ba2732
}
.red_button-manufactures:hover {
  background-color: #ca2c37
}
.red_button:active {
  background-color: #ba2732
}

.logo_footer:hover {
  background-color: #ca2c37
}

.logo_footer:active {
  background-color: #ba2732
}

.footer_button:hover {
  text-decoration: underline;
  ;
}

.footer_button:active {
  opacity: 0.5;
  text-decoration: none;
}

.social_menu:hover {
  background-color: #ee3643
}

.social_menu:active {
  background-color: #ee3643
}

.feedback_button:hover {
  text-decoration: underline;
}

.feedback_button:active {
  color: #ee3643
}

.breadcrumbs {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  padding: 15.9px 0;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
    display: inline;
    position: relative;
    padding-right: 19px;
}
.breadcrumbs a {
  font-size: 14.5px;
      line-height: 18px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      margin-right: 15px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs_list:after {
  content: url(../img/svg/icon-right-small.svg);
}

.page_name {
  margin: 0;
      padding: 0;
      height: 56px;
      padding-top: 33px;
      background-color: #f7f3ec;
      padding-left: 32px;
      margin-bottom: 20px;
      font-size: 28px;
}

.work_page-flex {
  display: flex;
}

fieldset {
  border: none
}

legend {
  text-transform: uppercase;
}

.filters {
  max-width: 220px;
  margin-right: 20px;
}

.filters_name-field {
  max-height: 15px;
  background-color: #f7f3ec;
  padding: 9px 0 15px 24px;
  margin-bottom: 15px;
}

.forms_name {
  margin-bottom: 15px;
  font-size: 22px;
}

.filter-option_radio {
  margin-bottom: 76px;
}

.filter_price_text {
  max-width: 94px;
  border: none;
  text-align: center;
  background-color: #f7f3ec;
  height: 38px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.page2 {
      margin-bottom: 28px;
}

.page2:nth-child(3n+2) {
  margin-right: 20px;
  margin-left: 20px;
}

.nsorting {
  flex-direction: column;
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 0
}

.sorting {
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ec;
  padding: 7px 17px 7px 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

ul.sorting_buttons {
  list-style: none;
      display: flex;
      margin-left: 69px;
}

.sorting_price {
  margin-right: 65px;
}

.sorting_tipe {
    margin-right: 57px;
}

.sorting_buttons_function {
  display: none;
}

.sorting_buttons_price {
  display: none;
}

.sorting_buttons_tipe {
  display: none;
}

.sorting_buttons_function:hover~.filter_text_function {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting_buttons_function:checked~.filter_text_function {
  opacity: 1;
  color: red;
  text-decoration: none;
}

.filter_text_function {
  opacity: 0.3;
  text-decoration: underline dotted red;
}

.sorting_buttons_price:hover~.filter_text_price {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting_buttons_price:checked~.filter_text_price {
  opacity: 1;
  color: red;
  text-decoration: none;
}

.filter_text_price {
  opacity: 0.3;
  text-decoration: underline dotted red;
}

.sorting_buttons_tipe:hover~.filter_text_tipe {
  opacity: 1;
  text-decoration-style: solid;
}

.sorting_buttons_tipe:checked~.filter_text_tipe {
  opacity: 1;
  color: red;
  text-decoration: none;
}

.filter_text_tipe {
  opacity: 0.3;
  text-decoration: underline dotted red;
}

.sorting_arrows_up {
  display: none;
}

.sorting_arrows_down {
  display: none;
}

.sorting_arrows_up:hover~.sorting_arrows_up-img {
  opacity: 1;
}

.sorting_arrows_up:checked~.sorting_arrows_up-img {
  opacity: 1;
}

.sorting_arrows_up-img {
  opacity: 0.3;
}

.sorting_arrows_down:hover~.sorting_arrows_down-img {
  opacity: 1;
}

.sorting_arrows_down:checked~.sorting_arrows_down-img {
  opacity: 1;
}

.sorting_arrows_down-img {
  opacity: 0.3;
}

.sorting_arrows_2 {
  margin-left: 20px;
}

ul.sorting_arrows {
  list-style: none;
  display: flex;
}

button.sorting_arrows_up {
  border: none;
  background: none;
}

button.sorting_arrows_down {
  border: none;
  background: none;
  margin-left: 21px;
}

.filter_min-max {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 19px;
}

.sign {
  margin-left: 13px;
  margin-right: 13px;
}

.catalog_paginator {
  list-style: none;
  display: flex;
  margin-bottom: 35px;
  padding-left: 0;
}

.catalog_paginator_score {
  margin-right: 10px;
}

.page-button {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffff;
  border-radius: 6px;
  outline: none;
}

.page-button:hover {
  border: 1px solid #bdc6ca;
}

.page-button:focus {
  border: 1px solid red;
}

.page-button_next:hover {
  border: 1px solid #bdc6ca;
}

.page-button_next:focus {
  border: 1px solid red;
}

.page-button_next {
  width: 138px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffff;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: lowercase;
}

.visually-hidden {
  display: none
}

.filter-option {
  list-style: none;
  padding-left: 13px;
  font-weight: bold;
  font-size: 16.8px;
}

.filter-option1 label::before {
  content: url(../img/svg/checkbox-off.svg);
  position: relative;
  top: 3px;
  right: 13px;
}

.filter-input-checkbox:checked+label:before {
  content: url(../img/svg/checkbox-on.svg);
  position: relative;
  top: 4px;
  right: 13px;
}

label .filter-option1 {
  font-size: 20px;
}

.filter-option2 label::before {
  content: url(../img/svg/radio-off.svg);
  position: relative;
  top: 6px;
  right: 15px;
}

.filter-input-radio:checked+label:before {
  content: url(../img/svg/radio-on.svg);
  position: relative;
  top: 6px;
  right: 15px;
}

.filter-button {
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffff;
  border-radius: 6px;
  width: 140px;
  font-size: 18px;
  font-weight: 100;
  text-transform: lowercase;
}

.filter_manufactures {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 19px 0px 8px 0px;
  margin-bottom: 21px;
}

.about_perforator {
  padding: 0;
  padding-top: 67.5px;
  margin-bottom: 30px;
  font-size: 30px;
}

.about_perforator_text {
  padding-bottom: 68px;
  font-size: 14px;
  font-weight: bold;
}

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  box-shadow: 0 8px 25px 5px #c0c0c0;
}

.modal-close {
  position: absolute;
  top: 11px;
  right: 51px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
}

.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 31px;
  height: 5px;
  background-color: red;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-write_us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;
  width: 620px;
  height: 430px;
  background-color: #ffffff;
  box-shadow: 0 8px 25px 5px #c0c0c0;
}

.modal_form {
  margin-bottom: 39px;
}

.modal_container {
  display: flex;
    flex-wrap: wrap;
  padding: 45px 80px 0px 80px;
}

.input_login {
  width: 220px;
  height: 38px;
  margin-right: 12px;
}

.input_email {
  width: 220px;
  height: 38px;
}

.input_letter {
  width: 460px;
  height: 114px;
}

.modal_input {
  border: 2px #dee3e4 solid
}

label.label_letter {
  margin-top: 21px;
}

.modal_input {
  border: 2px #dee3e4 solid;
  border-radius: 5px;
}

label.label_letter {
  margin-top: 21px;
}

.modal-write_us {
  border-top: 8px solid #ee3643;
}

.modal-background {
  background-color: #f4f4f4;
  padding: 38px 80px 38px 80px;
  margin-top: 30px;
}


button.modal_button {
  width: 460px;
  height: 36px;
  background: #ee3643;
  border: none;
  border-radius: 5px;
}

.modal-show {
  display: block;
}

.show {
  display: block;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div .delivery_input:checked~div .delivery_input_block {
  background-color: white;
  color: black;
}

div .garanty_input:checked~div .garanty_input_block {
  background-color: white;
  color: black;
}

div .credit_input:checked~div .credit_input_block {
  background-color: white;
  color: black;
}

.client {
  display: flex;
      flex-wrap: wrap;
      max-width: 300px;
}

.client-logout {
  width: 300px;
  height: 44px;
  background-color: white;
  border: none;
  position: relative;
  outline: none;
}

.login_client {
  display: flex;
  list-style: none;
  padding-left: 18px;
  padding-top: 6px;
}

.client_name:before {
  content: url(../img/icon-user.png);
  position: absolute;
  left: 18px;
  top: 12px;
  opacity: 0.3;
}

.orders a:hover {color: red;}
.personal a:hover {color: red;}
.orders a:active {opacity: 0.3; color:#32425c}
.personal a:active {opacity: 0.3; color:#32425c}
.client-logout:hover .client_name::before{opacity: 1;}
.client-logout:hover .client_name::after{opacity: 1;}
.personal::before {
  content: url(../img/touch.png);
  margin-right: 14px;
}
.client-logout:active {opacity: 0.3;}



.client_name::after {
  content: url(../img/icon-logout.png);
  position: absolute;
  top: 13px;
  right: 8px;
  opacity: 0.3;
}


.range-controls {
  position: relative;
  height: 80px;
  font-family: bold;
  font-size: 16px;
  line-height: 22px;
  background: #f7f3ec;
  padding: 0 20px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.range-controls .scale {
  position: relative;
  top: 39px;
  height: 2px;
  background: #d7dcde;
}

.scale .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #cfcfcf;
  cursor: pointer;
}

.range-controls .max-toggle {
  left: 145px;
}

.client_name {
  font-size: 22px;
}

.orders {
  font-size: 17px;
  margin-right: 14px;
}

.personal {
  font-size: 17px;
}

.filter_manufactures_name {
  font-size: 19.3px;
      margin-bottom: 10px;
      font-weight: bold;
}

.filter-option1 {
    margin-bottom: 11px;
}

.filter-option2 {
  margin-bottom: 7px;
}

.form_check_name {
  font-size: 20px;
      margin-bottom: 6px;
      font-weight: bold;
}

.akm {
  font-size: 18px;
}

.product.list {
    margin-bottom: 33.3px;
}

.about_product_text {
    background-color: #f1f5f7;
}
