body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}
.page-header {background: #f1f5f7;
padding-bottom: 67px;}
.header_top_flex {display: flex;
justify-content: space-between;}
.header_top { background-color:#293449;}
.logo_header {
  font-size: 24px;
    background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 13px 55px 0px 55px;
  }
.logo_header:hover{
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}
.logo_header:active{
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.form_search {width: 270px;
  padding-top: 13px;}
  .button_search {
     border: medium none;
     background-color: transparent;
     opacity: 0.3;
     padding-left: 17px;
padding-right: 15px;
    }

      .search_text   {

          top: 0;
          right: 0;
          font-size: 17px;
          color: #000000;
          background: none;
              border: none;
          outline: none;
         }

.form_search:hover {background-color:#212a3a; }
.form_search:hover .button_search {opacity: 1;}




.button_search:hover{opacity: 1;}

.order_buttons li {height: 100%}
.order_buttons a{
text-decoration: none;
font-size: 17px;
line-height: 18px;
color: #ffffff;
}


.order_buttons {list-style-type:none;
display: flex;
overflow:hidden;}

.header_link {padding: 13px 30px 13px 0px;
    padding-bottom: 13px;
    padding-right: 30px;}
.header_link:hover {background-color: #212a3a;}
.header_link:focus {opacity: 0.3; background-color: #161d29}
.header_link:hover .order_buttons_image {opacity: 1;}
.header_link:focus .order_buttons_image {opacity: 0.3;}

.order_buttons_image {
  opacity: 0.3;
      padding-left: 17px;
      padding-right: 14px;}

.menu-top_order {
    text-align: center;
    background: #63a63e;
    padding: 13px 22px 0px 21px;


}
.menu-top_order:hover{
    background: #5fbb2d;
}
.menu-top_order:active{
    color: #b1c5a8;
    background: #518534;
}


.header_mid {
  display: flex;
      max-width: 940px;
      margin: 0 auto;
      justify-content: space-between;
      padding-top: 42px;
      padding-bottom: 44px;
}



.header_mid_contacts p { font-size: 14px;
    line-height: 24px;
  color: #32425c;
    padding-right: 40px;
  margin-left: 16px;

}


    .header_mid_text{
      font-size: 16px;
      line-height: 23px;
      font-style: italic;
      color: #ee3643;
      padding-left: 53px;
      max-width: 198px;
      }


.contacts_phone {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  border: 3px solid #ffffff;
  display: block;
  }
.login_registration {list-style-type:none;
  list-style-type: none;
      display: flex;
      padding-bottom: 11px;}

.login_registration-margin-right {margin-right: 10px;}

.button {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding-top: 14px;
  padding-right: 26px;
     }

     .button_registration {padding-left: 25px;}

.login_registration a:hover{color: #ee3643;}
.login_registration a:active{color: #c5c5c5;}
.login_image {opacity:0.5;
  opacity: 0.5;
  padding-left: 14px;
  padding-right: 14px;}
.login_registration a:hover .login_image{opacity:1;}
.login_registration a:active .login_image{opacity:0.5;}


.main-navigation{
    background: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    }
.main-navigation ul{
    /* text-align: center; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.main-navigation li{
    /* display: inline-block; */
    font-size: 17px;
    line-height: 17px;
    list-style-type: none;
  }
.main-navigation li:hover {
  background: #293449;
}
.main-navigation li:focus {
  background: #293449;
}

  .main-navigation a{
    display: block;
    text-decoration: none;
    color: #ffffff;

    padding: 20px 25px;
}
.main-navigation a:hover{
    /* background: #293449; */
}

.container {
  max-width: 940px;
  margin: 0 auto;
    padding: 0 10px;
}
.main-navigation a:active{
    color: #a1a4a8;
    background: #1d2739;
}


/* Пошел main  */

/*Промо блок  */
.promo_blocks {
    margin-top: 59px;
}
.promo-container {width: 940px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}
.promo-item  {
  font-weight: bold;
font-size: 24px;
line-height: 30px;
width: 260px;
height: 85px;
padding: 20px;
  }
.promo-info {
  font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;}
.materials-info {background-color: #e5ac40;}

.materials {background: #ffbf47;
}

.features-img {float: right;
    width: 85px;
    height: 85px;}

.promo-name {    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 17px;}

.features-img_materials {background: url(../img/svg/icon-1.svg) no-repeat  20px;
;}
.features-img_instruments {
    background: url(../img/svg/icon-2.svg) no-repeat 5px;
}
.features-img_machines {
    background: url(../img/svg/icon-3.svg) no-repeat 3px;
}
.features-img_discount {
    background: url(../img/svg/icon-4.svg) no-repeat 10px;
}
.features-img_delivery {
    background: url(../img/svg/icon-5.svg) no-repeat 3px;
}
  .instruments {background-color: #3bbce3;}

.instrument-info {background-color: #35a9cc;}

.machines { background-color: #dc91d8;}
.machines-info {background-color: #c682c2;}

.discount{background-color: #8ed78f;}
.discount-info{background-color: #80c180;}

.delivery {background-color: #ffc047}
.delivery-info {background-color: #e5ac40}

.promo-top{display: flex;
  justify-content: space-between;
  margin-bottom: 25px;}

  .promo-bottom{display: flex;
  justify-content: space-between;}

  .promo-wrapper{display: flex;
  flex-direction: column;
  justify-content: space-between;}

  .promo-item_slider{width: 620px;
  height: 262px;
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
}



/* продукты */


.products_title {    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    margin-top: 53px;
    margin-bottom: 20px;
    padding: 26px 24px 26px 0px;}

    h2 {font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: #32425c;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 0px 9px 30px;}

    .button_catalog {background-color: #ee3643;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 14px 24px 14px 22px;}

    .catalog {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
    }

.catalog_item {
    display: flex;
    border: 1px solid #e5e5e5;
    flex-direction: column;
    align-items: center;
    width: 218px;
}
    .title {
      font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 0px 31px 18px 31px;
}


.price-old {
  font-size: 17px;
line-height: 18px;
color: #a9a9a9;
margin-top: 18px;
}

.price {
  font-size: 17px;
line-height: 18px;
background-image: url(../img/svg/red-button.svg);
background-repeat: no-repeat;
background-position: center;
background-size: auto;
height: 38px;
width: 141px;
text-align: center;
padding-top: 20px;
margin-top: 9px;
}

.price_constant {margin-top: 43px;}


.section_title {
    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    margin-top: 53px;
    margin-bottom: 20px;
    padding: 26px 24px 26px 0px;}


  .catalog_manufacturers {
        display: flex;
        list-style-type: none;
        flex-flow: wrap;
        justify-content: space-between;
        margin-bottom: 85px;}


li.manufacturers_item { border: 1px solid #ebebeb;
    width: 220px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;}

  .services {background-color: #f4f8fa;}
    p.services_description {
    margin-bottom: 74px;
}

.services_button {
    display: flex;
      padding-right: 405px;
}

ul.services_control {
    list-style: none;
}

.button_ac {background-color: #32425c;
    border: 1px solid #4d637b;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 240px;
    height: 62px;
    display: block;}



.services_background {
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-y: 263px;
    padding-bottom: 102px;
}

    .services_container_description {
    padding-top: 68px;
}

p.services_description {
    margin-bottom: 74px;
}

.services_name {    margin: 0;
    margin-left: 80px;}

    p.services_shipping_description {
    margin-left: 80px;
}

.company_description_n_contacts.container {
    display: flex;
    padding-top: 82px;}

    .company_description {
        padding-right: 121px;
        margin-bottom: 86px;
}

.company_name {margin-bottom: 39px;}

.about_company {
    margin-bottom: 39px;
    font-size: 13px;
    line-height: 24px;
}
.about_shipping {
    padding-right: 163px;
    margin-bottom: 27px;
    font-size: 13px;
    line-height: 24px;
}

.shipping_company {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 20px;
}

a.button_about {
    background-color: #ee3643;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 14px 40px 14px 41px;
}

.contacts_name {margin-bottom: 39px;}
p.contacts_text {
    padding-right: 122px;
    margin-bottom: 39px;
    font-size: 13px;
    line-height: 24px;
}

.list_shipping_company {margin-bottom: 37px;}

.contacts_map {
    margin-bottom: 43px;
}

button.contacts_button_lost {
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 14px 62px 14px 64px;
    border: none;
}

.footer_top_background {
    background-color: #32425c;
    padding-bottom: 53px;
}

.footer_top_main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

a.logo_footer {
  font-size: 30px;
background-color: #ee3643;
text-decoration: none;
text-transform: uppercase;
box-shadow: 0 5px 0 0 #b52933;
padding: 21px 41px 21px 41px;
line-height: 30px;
color: #ffff;
}

ul.footer_top_main_menu {
  display: flex;
  list-style: none;
  padding-top: 42px;
  width: 547px;
  justify-content: space-between;
}

a.footer_top_button {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

address.footer_adress {
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

a.footer_contacts_phone {
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-decoration: none;
}

.footer_top_second {
    display: flex;
    justify-content: space-between;
}

a.footer_top_second_menu_button {
    color: #ffda96;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

ul.footer_top_second_menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 524px;
}

.footer_bottom_background {
    background-color: #293449;
}

.footer_work_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

p.copyright {
    max-width: 276px;
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
}

a.btn-social_vk {
    border: 1px white;
    background-color: #212a3a;
    padding: 13px 8px 13px 8px;
    border-radius: 36px;
}

.feedback {display: flex;
    list-style: none;}

    .feedback_mail{margin-right: 53px;}

    .feedback_name {font-size: 16px;
    line-height: 18px;
    color: #ffffff;}

    .feedback_button {color: #ffd180;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;}


    ul.footer_social_menu {
        display: flex;
        list-style: none;
    }

    .footer_social_menu_vk {border: 1px solid #212a3a;
    border-radius: 100px;
    background-color: #212a3a;
    height: 42px;
    width: 42px;
    margin-right: 5px;}

.vk {position: relative;
    left: 9px;
    top: 12px;}

    .footer_social_menu_fb {width: 42px;
    height: 42px;
    margin-right: 5px;
    border: 1px solid #212a3a;
    border-radius: 100px;
    background-color: #212a3a;}

    .fb {    position: relative;
    left: 15px;
    top: 10px;}

    .footer_social_menu_insta {
    height: 42px;
    width: 42px;
    border: 1px solid #212a3a;
    border-radius: 100px;
    background-color: #212a3a;
}

.insta {position: relative;
    left: 11px;
    top: 10px;}
